body {
  background-color: grey; 
  
 
}

.navbar_container {
    display: flex;
    background-color: black;
    width: 100%;
    height: 100px;
}

.navbar_logo {
    color: white;
    text-align: left;
    font-size: 75px;
    padding: 15px;


}

.pokemon_image {
    width: 25px;
    height:25px;
    padding: 15px;
}


p {
    color: black;
    text-align: center;
  
}

.button-class {
    width: 250px;
    height: 30px;
   
  }

ul {
    list-style: none;
}

li {
    text-align: center;
}



